@import "tailwindcss";

@theme {
  --color-palette-maroon: #700635;
  --color-palette-cream: #F3E5D8;
  --color-palette-beige: #D4BEA9;
  --color-palette-brown: #4C1A17;

  --breakpoint-xs: 360px;
  --breakpoint-2xs: 340px;

  --font-story:var(--font-story);

}

body {
  background: var(--palette-cream);
  color: var(--palette-brown);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide{
  text-align: center;
  padding: 50px;
}
